<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    a{
        text-decoration: none;
        font-size:25px;
        color: darkcyan;
    }
    ul{
        display: flex;
        gap:30px;
        justify-content: center;
    }
    a:hover{
        color: black;
    }
</style>
<body>
    <h1 style="color:#5F6F52;text-align:center;"><---------------This is The Extra page--------------></h1>
    <h2 style="color:green;text-align:center;">Navigation Tabs in Below</h2>
    <ul style="list-style: none; text-decoration:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/navigation/">Contact</a></li>
        <li><a href="/navigation/">Services</a></li>
        <li><a href="/navigation/">About</a></li>
        <li><a href="/navigation/">Extra</a></li>
    </ul>
</body>
</html>